NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2V0dGxlZC1tYXJtb3QtNjAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_ZdeaHw2egOz2XKfspcGLxPXnH1sZMfILRHsWyR57PZ
NEXT_PUBLIC_SUPABASE_URL=https://fzlvnrvkcoxtgwioakja.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_nwG5bxHGK0sa5WLzsv5lEA_eru6iHnY
LOCATIONIQ_KEY=pk.eb3f99e099f2da15c24c5d8f20833808
RESEND_API_KEY=re_U5jkqS7g_FwmLfcMDw8fsBQhcAmZSpW1c